
<GridLayout rows="30,30" columns="*,40,40,40,40" style="background-color:tan">    
        
       <Label class="h3" [text]="currentSura" row="1" colspan="2"></Label>
        
        <Label text="{{ duration }}" row="0" col="2"></Label>  
        <Label text=" / " row="0" col="3"></Label>    
        <Label text="{{ totalDuration }}" row="0" col="4"></Label>        

        <!-- <Image src="~/images/stop.png" stretch="none" row="1" col="2"  width="30" height="30" stretch="aspectFill" (tap)="stopPlay()"></Image>                 -->
        <Image src="~/images/next.png" stretch="none" row="1" col="1" width="30" height="30" stretch="aspectFill" (tap)="nextPlay(current)"></Image>

        <Image src="~/images/pause.png" *ngIf="!showPlaying"  row="1" col="2"  width="30" height="30" stretch="aspectFill" (tap)="togglePlay()"></Image> 
        <Image src="~/images/play.png" *ngIf="showPlaying" row="1" col="2"  width="30" height="30" stretch="aspectFill" (tap)="togglePlay()"></Image>              
       
        <Image src="~/images/prev.png" stretch="none" row="1" col="3"  width="30" height="30" stretch="aspectFill" (tap)="prevPlay(current)"></Image>                                   
        <Image src="~/images/loop.png" *ngIf="showLoop" row="1" col="4"  width="30" height="30" stretch="aspectFill" (tap)="loopAll()"></Image>                                   
        <Image src="~/images/noloop.png" *ngIf="!showLoop" row="1" col="4"  width="30" height="25" stretch="aspectFill" (tap)="loopAll()"></Image>                                   
</GridLayout>  



<ListView [items]="suras" (itemTap)="onItemTap($event)"  class="list-group" style="background-color:#093145">
         
    <ng-template let-sura="item" let-i="index" let-odd="odd" let-even="even">

            <GridLayout class="list-group-item" rows="35" columns="*,40,40,40">
                    <Label [text]="i+1 + ' : ' + sura.name"  row="0" col="0" style="color:white" ></Label>                                        
                    
            </GridLayout>            
    </ng-template>
</ListView>
  
